<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="show_sql">false</property>
        
        <!-- mappings for annotated classes -->
        <mapping class="com.project.persistence.entity.Advisor" />
        <mapping class="com.project.persistence.entity.Classroom" />
        <mapping class="com.project.persistence.entity.Course" />
        <mapping class="com.project.persistence.entity.Departament" />
        <mapping class="com.project.persistence.entity.Instructor" />
        <mapping class="com.project.persistence.entity.Section" />
        <mapping class="com.project.persistence.entity.Student" />
        <mapping class="com.project.persistence.entity.Takes" />
        <mapping class="com.project.persistence.entity.TimeSlot" />
        <mapping class="com.project.persistence.entity.Prereq" />
        <mapping class="com.project.persistence.entity.Teaches" />
        
        
    </session-factory>
</hibernate-configuration>
